{% extends "uadmin/admin.html" %}

{% block content %}


<div class="contact_table">
	<h4>Contactos</h4>

	<table class="ui celled table" id="contacts_table">
        <thead>
          <tr>    
              <th>Nombre</th>
              <th>Categoria</th>
              <th>Rating</th>
              <th style="width:30px;">Editar</th>
              <th style="width:30px;">Eliminar</th>
          </tr>
        </thead>
        <tbody>
           {% for row in data %}
            <tr>
                <td>{{ row.name }}</td>
                <td>{{ row.categoryId.description }}</td>
                <td>{{ row.rating }}</td>
                <td><i class="edit icon" id="editContact" data-val={{ row.id }}></i></td>
                <td id="delContact" ><i class="edit icon" id="delContact" data-val={{ row.id }}></i></td>
            </tr>
            {% endfor %}
          </tbody>      
    </table>
</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Nuevo contacto</h4>
      </div>
      <div class="modal-body">
        

		<form class="ui form segment">
		  <p>Informacion del contacto</p>
		  <div class="two fields">
		    <div class="field">
		      <label>RNC</label>
		      <input placeholder="First Name" name="crnc" id="crnc" type="text">
		    </div>
		    <div class="field">
		      <label>Categoria</label>
		      <select class="ui dropdown" name="ccategoria" id="ccategoria">
		        <option value="">Categoria</option>
		        
		      </select>
		    </div>
		  </div>
		  <div class="two fields">
		    <div class="field">
		      <label>Nombre</label>
		      <input placeholder="Username" name="cnombre" id="cnombre" type="text">
		    </div>
		    <div class="field">
		      <label>Imagen</label>
		      <input type="text" name="cimagen" id="cimagen">
		    </div>
		  </div>
		  <div class="field">
		    <textarea id="cdescripcion">
		    	
		    </textarea>
		  </div>
		  <div>
		  	<p>Informacion de la sucursal</p>

		  	<div class="two fields" id="f">
			    <div class="field">
			      <label>Telefono</label>
			      <input placeholder="Username" name="ctelefono" id="ctelefono" type="text">
			    </div>
			    <div class="field">
			      <label>Direccion</label>
			      <input type="text" name="cdireccion" id="cdireccion">
			    </div>
		  </div>

		  </div>
		  <div class="inline field">
		    <div class="ui checkbox">
		      <div class="ui blue button" id="addBranchInfo">Add Branch</div>
		    </div>
		  </div>
		  <div class="ui blue button" id="saveContact">Submit</div>
		  <div class="ui error message"></div>
		</form>


      </div>
     
    </div>
  </div>
</div>




{% endblock %}