body{
    width:100%;
    margin:auto;
    /*background: #F5F7F9 url('http://www.menu.com.do/img/bg.gif') top left repeat;*/
}

/*Top bar menu*/

.control-bar{
    height:45px;
    background-color:#3D3D3D;
}

.menu-bar{
    background-color:#3D3D3D;
}

.menu-bar a{
    color:white;
    font-family: sans-serif;
    font-weight: 16px;
}

.control-bar table{
    width:100%;
    height:100%;
}

.control-bar table #logo-side{
    width:30%;
}

.control-bar table #logo-side h4{
    color:white;
    padding-left:20px;
}

.control-bar table #auth-side{
    width:70%;
}

#auth-side ul{
    float:right;
    padding-right: 20px;
}

#auth-side ul li{
    display:inline;
    padding-left:10px;
}

#auth-side a{
    font-size:15px;
    color:white;
    text-decoration:none;
    cursor:pointer;
}

#auth-side div{
    height:10px:
    background-color:white;
}

.content{
    /*background-color: rgb(243,243,243);*/
}

.header_child, .header_suggest_child{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    background-color: rgb(245,245,245);
}

.header_child table, .header_suggest_child table{
     margin: auto;
     width: 100%;
}

.header_child table tr td{
     width: 50%;
}

.header_suggest_child table tr td{
    width: 100%;
}

#neworder{
     float: right;
     margin-right: 15px;
}

.header_child p{
    float: right;
    font-family: sans-serif;
    font-style: italic;
    font-size: 20px;
    color:rgb(100,100,100);
    text-align: center;
}

.header_suggest_child p{
    font-family: sans-serif;
    font-style: italic;
    font-size: 20px;
    color:rgb(100,100,100);
    text-align: center;
}

.notFound{
    font-size: 17px;
    font-style: italic;
    font-family: sans-serif;
    text-align: center;
}




.orders_table{
    margin: auto;
    width: 100%;
   /* width: 100%;*/
    max-width: 800px;
    /*min-width: 500px;*/
    overflow: scroll;

   /* overflow-y: scroll;
    overflow-x: scroll;*/
}

.orders_table tr td, .orders_table tr th{
    padding-right: 20px;
    font-family: sans-serif;
}

.orders_table tr th{
    font-size: 16px;
    font-weight: bolder;
}

.orders_table tr td{
    font-size: 14px;
}

.orders_table #order_div{
   /* background-color: rgb(100,220,100);*/
    margin: 10px;
    padding: 10px;
    border-radius:10px;
}

.orders_table #order_div:hover{
    background-color: rgb(100,230,100);
}

.orders_table #order_div p, .orders_table #order_div{
    cursor: pointer;
}
.orders_table #tdnumrow{
    font-weight: bold;
   /* border-right: solid rgba(0,0,0,0.1);
    padding-right: 5px;*/
}

#order_div{
    width: 100%;
}

#odate{
    float: right;
    margin-right: 10px;
    color: rgb(100,100,100);
}

#ostatus{
    margin: auto;
    width: 100%;
    text-align: center;
    color: rgb(100,100,100);
}

.order_gruop{
    cursor: pointer;
    font-family: Heveltica;
    font-size: 16px;

}

.order_gruop:hover{
    opacity: 0.6;
}

.pagination_tb{
    margin: auto;
}

.alert{
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
}

.options{
    padding: 5px;
    margin-bottom: 15px;
    background-color:rgb(240,240,240);
    border-radius:10;
    display: none;
}

.options p{
    float: right;
    margin: auto;
    font-family: Heveltica;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}


#newOrderModalBody{
    min-height: 80px;
}

#search_contact{
    margin-left: 10px;
}

.orderDetailsTable{
    margin-top: 10px;
}

.orderDetailsTable p{
    margin-bottom: 5px;
    font-family: sans-serif;
    font-size: 14px;
    color: rgb(100,100,100);
}

.orderDetailsTable #tcantidad{
    width: 100px;
}

#MenuSelect{
    width: 100%;
}

.menu_cant_details {
    width: 50px;
    margin-right: 10px;
}

.menu_row_details{
    
    cursor: pointer;
    height: 40;
}

.menu_row_details span{
    vertical-align: middle;
}

.menu_row_details:hover{
    background-color: rgb(230,230,230)
}

/*Menu de creacion de pedidos*/

.menu_select_div{
    margin-top: 10px;
}

.menu_select_div select{
    margin: auto;
}

#tsearch, #menu_select{
    font-size: 15px;
}

.order_menu_content{
    margin-top: 10px;
}

.menu_desc_table{
    width: 100%;
    margin: auto;
}

.menu_desc_table tr{
    height: 28px;
    padding-left: 5px;
    padding-right: 5px;
}

.menu_desc_table tr:hover{
    cursor: pointer;
    background-color: rgb(235,235,235);
  /*  animation-name: example;
    animation-duration: 4s;*/
}

.order_menu_category_name{
    font-size: 15px;
    font-family: arial;
}

.menu_desc_table td p{
    font-size: 15px;
    font-family: arial;
}

.menu_desc_table .td_desc{
    width: 30%;
}

.menu_desc_table .td_cant{
    width: 30%;
    border-radius: 15px 50px;
    /*opacity: 0;*/
}

.menu_desc_table .td_price{
    width: 30%;
}

.menu_desc_table .td_cant input{
    float: center;
    width: 60px;
   display: none;
}

.menu_desc_table .td_price p{
    float: right;
}

.total_order{
    margin-top: 10px;
  /*  padding-bottom: 20px;*/
    float: right;
    font-size: 16px;
    font-family: serif;
    color: #5A9C48;
}

@keyframes example {
    from {background-color: red;}
    to {background-color: rgb(230,230,230)}
}

/*.order_table{
    width: 100%;
    height: 100%;
}

.order_table .tdoptions{
    width: 200px;
}

.order_table .tdorder{
    width: 100%;

}
*/
.body_orders{
    margin: auto;
    width: 100%;
    /*float: left;*/
}

/*.order_menu{
    width: 200px;
}*/

.content{
   /* background: #F5F7F9 url('http://www.menu.com.do/img/bg.gif') top left repeat;*/
}


/*
.ulmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

.ulmenu li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.ulmenu li a.active {
    background-color: #4CAF50;
    color: white;
}

.ulmenu li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

*/


/*Suggest*/
.body_suggest{
    margin: auto;
    width: 60%;
}

/******************/
#show_contact_list{
    opacity: 0.0;
}
/******************/



/**CONTACT**/

.contact_adm_body{
    width: 80%;
    padding-top: 20px;
    margin: auto;
}

.contact_adm_table{
    width: 100%;
    margin: auto;
}

.contact_adm_table tr{
    height: 35px;
}

.contact_adm_table tr th{
    /*text-align: center;*/
}

.contact_adm_table tr #options{
    width: 120px;
}

.table_content{
    padding-top: 40px;
}


.menu_modal_actions{
    padding-top: 10px;
    margin-top: 10px;
    border-width: 1px;
    border-top: solid rgb(244,244,244);
}

.menu_category_details{
    font-style: italic;
    padding-left: 15px;
    width: 100%;
    border-width: 1px;
    border-bottom: solid rgb(238,238,238);
}

.mp{
    float: right;
}

.section{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 25px;
    background-color: rgb(244,244,244);
}

.menu_section_space{
    padding-bottom: 20px;
}

.menu_viewer{
   padding-top: 20px;
   padding-left: 10px;
   margin-right: 10px;
   padding-right: 10px;
   background-color: rgb(244,244,244);
}

.gosh{
    opacity: 0;
}
/*.dropdown_category{
    width: 200px;
}*/

.addfield{
    padding-bottom: 20px;
}

.closemenu{
    float: right;
}

.newSection{
    display: none;
}

.saveMenu{
    display: none;
}

.delete_section{
    margin-left: 20px;
}



/**********************************/
/*Mobile Screen*/
@media screen and (max-width: 700px) {

    .body_suggest, .body_orders{
        margin: auto;
        width: 100%;
    }
}

/*Normal Screen*/
@media screen and (min-width: 700px) {
    
    .body_suggest{
        margin: auto;
        width: 60%;
    }

    .body_orders{
        margin: auto;
        width: 80%;
    }    
}
