<html lang="es">
<head>
    <meta content = text/html charset=UTF-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=yes" />

    <title>Administración</title>

    {% load staticfiles %}

    <!-- css files -->
	 <link rel="stylesheet" type="text/css" href="{% static 'management/css/style.css' %}"/> 

    <link rel="stylesheet" type="text/css" href="{% static 'uadmin/css/style.css' %}"/>

    <link rel="stylesheet" type="text/css" href="{% static '3rd_party/bootstrap/css/bootstrap.min.css' %}"
     />

	<link rel="stylesheet" type="text/css" href="{% static '3rd_party/semantic/semantic.css' %}"/>

    <link rel="stylesheet" type="text/css" href="{% static '3rd_party/sweetalert/dist/sweetalert.css' %}"/>

     <!-- js files -->
    <script type="text/javascript" src="{% static '3rd_party/jquery/jquery-2.2.4.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'management/js/access.js' %}"></script>

    <script type="text/javascript" src="{% static 'management/js/scripts.js' %}"></script>

   <!-- <script type="text/javascript" src="{% static 'management/js/contacts.js' %}"></script>-->

    <script type="text/javascript" src="{% static '3rd_party/bootstrap/js/bootstrap.min.js' %}"></script>

    <script type="text/javascript" src="{% static '3rd_party/semantic/semantic.js' %}"></script>

    <script type="text/javascript" src="{% static '3rd_party/jquery/jquery.dataTables.min.js'%}"></script>

    <script type="text/javascript" src="{% static '3rd_party/semantic/components/dataTables.semanticui.min.js' %}"></script>

    <script src="{% static '3rd_party/sweetalert/dist/sweetalert.min.js' %}"></script>

</head>
<body>
    <div class="top control-bar">
        <table>
            <tr>
                <td id="logo-side">
                    <h4><a href="/management">MyOrders</a></h4>
                </td>
                <td id="center-side">
                </td>
                <td id="auth-side">
                
                </td>
            </tr>
        </table>
    </div>
    
    <div class="menu-bar">
		<ul id="menu">
			<li id="orders"><a href="/management/orders">Pedidos</a></li>
			<li id="Grupos"><a href="/management/group">Organización de equipos</a></li>		
            <li id="Contactos"><a href="/management/contacts">Contactos</a></li>
            <li id="Usuarios"><a href="/management/user">Usuarios</a></li>
			<!--<li id="Sugerencias"><a href="/management/suggest">Sugerencias</a></li>-->
			<li id="Datos"><a href="/management/myinfo">Mis datos</a></li>
		</ul>
    </div>

	<div class="divisor-h"></div>



    <div class="content_child">

        {% csrf_token %}

    {% block content %}{% endblock %}
  
    </div>

</body>
    
</html>