{% extends "main.html" %}

{% block content %}

{% load staticfiles %}
<!--Meta-->
<link rel="stylesheet" type="text/css" href="{% static 'administration/css/categories.css' %}">

<div class="contact_categories_page_content">


	<section class="menu-divider divider-top"></section>

	<section class="section_categories_table">

	</section>

	<section class="section_categories_options">
		<ul>
			<li><a href="/administration/menu">Volver a menu</a></li>
			<li><a class="new-category">Nueva categoria</a></li>
		</ul>
	</section>

	<script type="text/javascript" src="{% static '3rd_party/jquery/jquery-2.2.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'administration/js/menu/categories.js' %}"></script>
	
</div>

{% endblock %}