{% extends "main.html" %}

{% block content %}

{% load staticfiles %}
<!--Meta-->
<link rel="stylesheet" type="text/css" href="{% static 'administration/css/menu.css' %}">

<div class="contact_page_content">

	<section class="section_menu_operations">
		<ul>
			<li>
				<select class="select_menu_filter">
					<option value="-1" disabled="true">Ordenar por: </option>
					<option value="name">Nombre</option>
					<option value="contact_id">Contacto</option>
				</select>

				<select class="select_menu_filter_order">
					<option value="desc">de mayor a menor</option>
					<option value="asc">de menor a mayor</option>
				</select>

				<a class="button_menu_filter" value="Filtrar">FILTRAR</a>

				
			</li>
			<li id="li_menu_searcher">
				<div class="ui search">
			        <div class="ui search">
			              <div class="ui icon input">
			                 <input class="prompt" id="tsearch" type="text" placeholder="Buscar menu">
			                 <i class="search icon"></i>
			              </div>
			           <div class="results"></div>
			        </div>
			    </div>
			</li>
		</ul>
	</section>

	<section class="menu-divider divider-top"></section>

	<section class="section_menu_table">

	</section>

	<section class="section_menu_options">
		<ul>
			<li><a class="admCategories">Administrar categorias de menu</a></li>
			<li><a class="createMenu">Crear menu</a></li>
		</ul>
	</section>

	<script type="text/javascript" src="{% static '3rd_party/jquery/jquery-2.2.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'administration/js/menu/scripts.js' %}"></script>
	
</div>

{% endblock %}