.section_operations li{
	margin:8px;
	margin-left: 20px;
}
.section_operations .goback{
	font-size: 14px;
	margin: auto;
}
.section_operations .goback img{
	margin-right: 10px;
}
.section_operations .goback:hover{
	opacity: 0.6;
}

.section_create_contact .form_div{
	width: 70%;
	margin-left: 2%;
	margin-top: 20px;
}
.section_create_contact .form_div form {
	border-color: white;
}
.submit:hover, .reset:hover{
	text-decoration: underline;
}
.submit, .reset{
	margin-left: 20px;
	padding: 10px;
	background: rgb(230,230,230);
}

