.menu_li_category, .menu_li, .menu-name, .contact-name, th, .nav-table{
	font-family: "Myriad Set Pro", "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";	
}

.section_menu_operations ul li{
	display: inline-block;

}

#li_dishes_searcher{
	float: right;
	font-size: 15px;
	margin-left: 20px;
}
.section_menu_operations li{
	margin-left: 20px;
}

.menu-name{
	font-size: 20px;
}
.contact-name{
	font-size: 15px;
	color: rgb(90,90,90);
}
.section_menu_viewer{
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 20px;
}
.section_menu_viewer section{
	margin-bottom: 20px;
}
.ulcategory{
	margin-left: 20px;
}
.ulcategory .menu_li_category{
	font-size: 16px;
	text-transform: uppercase;
	color: rgb(60,60,60);
	margin-bottom: 5px;
	margin-top: 25px;
}
.ulcategory .menu_li{
	/*margin-left: 20px;*/
	margin-right: 70px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 15px;
	color: rgb(90,90,90);
	border-bottom: solid 1px rgb(225,225,225);
	cursor: pointer;
}
.ulcategory .menu_li:hover{
	/*margin-left: 20px;*/
	background-color: rgb(245,245,245);
}
.li-active{
	background-color: rgb(245,245,245);
}
.itemPrice{
	float: right;
	margin-right: 20px;
	opacity: 0.8;
}
.div_calculator{
	position : fixed; 
	height: 50px; 
	width: 300px;
	top: -moz-calc(100% - 60px);
	top: -webkit-calc(100% - 60px);
    left: 50%;
	background-color: rgb(240,240,240);
	border: 1px solid rgb(210,210,210);
}
.div_calculator:hover{
	background-color: rgb(230,230,230);
	cursor: pointer;
}
.div_calculator p{
	text-align: center;
	font-size: 14px;
}
.items-selected-viewer{
	width: 100%;
}
.nav-table{
	width: 100%;
	margin-bottom: 10px;
}
.nav-table th{

}
.nav-table td input{
	height: 40px;
	width: 70px;
	font-size: 14px;
}
.items-selected-viewer .nav li{
	display: block;

}
.items-selected-viewer .nav .total{
	float: right;
	margin-right: 50px;
	margin-top: 10px;
}