{% extends "management.html" %}

{% block content %}

{% load staticfiles%}

<div class="content">

	<div class="header_child">
		<table>
		<tr>
		<td>
			<p>Pedidos</p>
		</td>
		<td>
			<button class="ui olive button" id="neworder" data-toggle="modal" data-target="#myModal">Nuevo</button>
		</td>
		</tr>
		</table>
	</div>

<!--
	<table class="order_table">
		<tr>
			<td class="tdoptions" style="vertical-align:top;">
				<div class="order_menu">
					
					<ul class="ulmenu">
					  <li><a class="active" href="">Nuevo pedido</a></li>
					</ul>
				</div>
			</td>
			<td class="tdorder" style="vertical-align:top;">
				

			</td>
		</tr>
	</table>-->

	

				<div class="body_orders">
	
					<form class="ui form segment" id="userForm">
						<div class="options">
							<img src="{% static 'img/back.ico' %}" style="width:30px;" />
							<a href="/management/orders">Volver</a>

							<select class="members_selecter" style="width:200px; height:30px; float:right; font-size:11px;">
								<optgroup label="Miembros">
									<option value="" disabled selected>Filtrar por miembro</option>
									<option value="" >Todos</option>
								</optgroup>
							</select>
							<!--<input type="date" name="" style="width:200px; height:30px;" />-->
							<!--<p class="group_name"></p>-->
						</div>
						
					  	<div class="data"></div>
						<div class="ui large active centered inline loader" id="order_loader"></div>
						<div class="" id="alert" role="alert"></div>
					</form>
				</div>




	<!-- Modal -->
	<div class="modal fade" id="myModal" class="order_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close orderModal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Nuevo pedido</h4>

	      </div>
	      <div class="modal-body" id="newOrderModalBody">
	      
	      	<p>Seleccione la sucursal donde desea realizar el pedido.</p>
		    <table class="newOrderTable">
		      	<tr>
		      		<td>
				        <div class="ui search">
			                 <div class="ui search">
			                    <div class="ui icon input">
			                      <input class="prompt" id="tsearch" type="text" onkeypress="findContact(event)" placeholder="Buscar establecimientos">
			                      <i class="search icon"></i>
			                    </div>
			                    <div class="results"></div>
			                  </div>
			              </div>
			        </td>
			        <td>
			        	<button class="ui olive button" id="search_contact">Buscar</button>
			        </td>
			    </tr>
			</table>


			<div id="dropdown" class="menu_select_div">
				<p>Select menu.</p>
			    <select class="ui dropdown" id="menu_select">
			        <option value="">Menu</option>
			    </select>
			</div>

			
<!--
			<table class="orderDetailsTable">
				<tr>
					<td colspan="3">
						<p>Seleccione la sucursal donde desea realizar el pedido.</p>
					</td>
				</tr>
				<tr>
					<td>
						<div id="dropdown">
			              <select class="ui dropdown" id="menu_select">
			               <option value="">Menu</option>
			              </select>
			          	</div>
	          		</td>
	          	</tr>
	        </table>-->

	        <div class="order_menu_content">

	        </div>

	        <p class="total_order">$ 0.00</p>

	        <table class="orderDetailsTable" style="height:40px; ">
	        	<tr>
					<td >
						<button class="ui olive button" id="doRequest">Realizar pedido</button>
					</td>
					<td >
						<button class="ui gray button">Declinar</button>
					</td>
					<td >
						
					</td>
				</tr>
	        </table>
	      </div>
	    </div>
	  </div>
	</div>

</div>

{% endblock %}