{% extends "management.html" %}

{% block content %}

<div class="content">

	<div class="header_suggest_child">
		<table>
		<tr>
			<td>
				<p>Sugerencia de establecimientos de comida</p>
			</td>
			<td>
				<div class="admin_area"><button class="ui olive button" id="show_contact_list" data-toggle="modal" data-target="#contacts_modal">Ver</button></div>
			</td>
		</tr>
		</table>
	</div>

	<div class="body_suggest">
		<div class="alert alert-warning" id="alert" role="alert">Puede sugerirnos algun establecimiento de comida en este formulario.</div>

		<form class="ui form segment" id="suggest_form">
			  <p>Información del contacto</p>
			  <div class="two fields">
			    <div class="field">
			      <label>RNC</label>
			      <input placeholder="RNC del contacto" name="crnc" id="crnc" type="number">
			    </div>
			    <div class="field">
			      <label>Categoría</label>
			      <select class="ui dropdown" name="ccategoria" id="ccategoria">
			        <option value="">Categoría</option>
			        
			      </select>
			    </div>
			  </div>
			  <div class="two fields">
			    <div class="field">
			      <label>Nombre</label>
			      <input placeholder="Nombre" name="cnombre" id="cnombre" type="text">
			    </div>
			    <div class="field">
			      <label>Telefono</label>
			      <input placeholder="Telefono" type="text" name="ctelefono" id="ctelefono">
			    </div>
			  </div>
			  <div class="two fields">
			    <div class="field">
			      <label>Direccion</label>
			      <input placeholder="Direccion" name="cdireccion" id="cdireccion" type="text">
			    </div>
			  </div>
			  <div class="field">
			    <textarea id="cdescripcion">
			    	
			    </textarea>
			  </div>
			  <!--<div>
			  	<p>Información de la sucursal</p>

			  	<div class="two fields" id="f">
				    <div class="field">
				      <label>Teléfono</label>
				      <input placeholder="Telefono" name="ctelefono" id="ctelefono" type="text">
				    </div>
				    <div class="field">
				      <label>Dirección</label>
				      <input type="text" placeholder="Direccion" name="cdireccion" id="cdireccion">
				    </div>
			  </div>

			  </div>-->
			  <div class="inline field">
			    
			  </div>
			  <div class="ui submit button" id="saveContact">Enviar</div>
			  <div class="ui error message"></div>
			<!--  <div class="branches_info" phones="" address=""></div>
			  <div class="menu_info" description="" price=""></div>-->
			</form>
			<div class="" id="alert_msg" role="alert"></div>
	</div>


	<!--
	<div class="modal fade" id="contacts_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Lista de contactos</h4>
	      </div>
	      <div class="modal-body">
	        <div class="contact_bm">

	        	<table class="ui celled table" id="contacts_table" style="margin-left:20px;">
			        <thead>
			          <tr>    
			              <th>Nombre</th>
			              <th>Categoria</th>
			              <th>Rating</th>
			              <th style="width:30px;">Editar</th>
			              <th style="width:30px;">Eliminar</th>
			          </tr>
			        </thead>
			        <tbody>
			           {% for row in data %}
			            <tr>
			                <td>{{ row.name }}</td>
			                <td>{{ row.categoryId.description }}</td>
			                <td>{{ row.rating }}</td>
			                <td class="editContact"><i class="edit icon" data-val={{ row.id }}></i></td>
			                <td class="delContact"><i class="edit icon" data-val={{ row.id }}></i></td>
			            </tr>
			            {% endfor %}
			          </tbody>      
			    </table>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>



	<div class="modal fade" id="branchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Anadir sucursales</h4>
	      </div>
	      <div class="modal-body">

	      	<form class="ui form segment" id="addContactBranchForm">
			  <p>Informacion de la sucursal</p>
			  <p><li>Añada las sucursales necesarias, presione Guardar y luego Enviar en el formulario anterior para enviar la solicitud.</li></p>
			  <div class="content">
			  <div class="two fields">
			  	<div class="field">
			      <label>Telefono</label>
			      <input placeholder="Ej. 809-222-1163" name="btelefono" id="btelefono" type="number">
			    </div>
			    <div class="field">
			      <label>Direccion</label>
			      <input placeholder="Direccion" name="bdireccion" id="bdireccion" type="text">
			   </div>
			   <div class="delrow">
			      <div class="ui submit button" id="delrowbtn" style="opacity:0;">X</div>
			   </div>
			  </div>

			  </div>
			  <button class="ui olive button newBranch" id="newBranch">Nueva sucursal</button>
			  <div class="ui submit button" id="saveBranches">Guardar</div>
			  <div class="ui error message"></div>
			</form>
			
			<div class="" id="alert_changePass" role="alert"></div>
	      </div>
	   
	    </div>
	  </div>
	</div>


		
	<div class="modal fade" id="menuModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Anadir menu</h4>
	      </div>
	      <div class="modal-body">

	      	<form class="ui form segment" id="addBranchMenuForm">
			  <p>Informacion del menu</p>
			  <p><li>Añada las sucursales necesarias, presione Guardar y luego Enviar en el formulario anterior para enviar la solicitud.</li></p>
			  <div class="content_m">
			  <div class="two fields">
			  	<div class="field">
			      <label>Descripcion</label>
			      <input placeholder="Descripcion" name="mdescripcion" id="mdescripcion" type="text">
			    </div>
			    <div class="field">
			      <label>Precio</label>
			      <input placeholder="Precio" name="mprecio" id="mprecio" type="number">
			   </div>
			   <div class="delrow">
			      <div class="ui submit button" id="delrowbtn" style="opacity:0;">X</div>
			   </div>
			  </div>

			  </div>
			  <button class="ui olive button newMenu" id="newMenu">Nuevo menu</button>
			  <div class="ui submit button" id="saveMenues">Guardar</div>
			  <div class="ui error message"></div>
			</form>
			
			<div class="" id="alert_changePass" role="alert"></div>
	      </div>
	   
	    </div>
	  </div>
	</div>
-->

</div>

{% endblock %}