{% extends "management.html" %}

{% block content %}

<div class="content">

	<div class="header_suggest_child">
		<table>
		<tr>
			<td>
				<p>Informacion personal</p>
			</td>
			<td>
				<button style="opacity:0;" class="ui olive button" id="reset_Suggest_Form">Nuevo</button>
			</td>
		</tr>
		</table>
	</div>

	<div class="body_suggest">
		<div class="alert alert-warning" id="alert_static" role="alert">Complete su informacion personal para tener mas control sobre sus pedidos.</div>

		<form class="ui form segment" id="userForm">
		  <p>Informacion del usuario</p>
		  <div class="two fields">
		    <div class="field">
		      <label>Nombres</label>
		      <input placeholder="Nombres" name="unombre" id="unombre" type="text">
		    </div>
		    <div class="field">
		      <label>Apellidos</label>
		      <input placeholder="Apellioos" name="uapellido" id="uapellido" type="text">
		    </div>
		  </div>
		  <div class="two fields">
		    <div class="field">
		      <label>Direccion</label>
		      <input placeholder="Direccion" name="udireccion" id="udireccion" type="text">
		    </div>
		  </div>
		 
		  <div>
		  	<p>Autenticacion</p>

		  	<div class="two fields" id="f">
			    <div class="field">
			      <label>Correo</label>
			      <input placeholder="Direccion de correo electronico" name="ucorreo" id="ucorreo" type="text" readonly>
			    </div>
			    <div class="field">
			      <label>Contrasena</label>
			      <input type="password" placeholder="Contrasena" name="ucontrasena" id="ucontrasena" readonly>
			    </div>
		  	</div>

		  </div>
		  <div class="inline field">
		 
		  </div>
		  <button class="ui olive button" data-toggle="modal" data-target="#myModal">Cambiar contrasena</button>
		  <div class="ui submit button" id="saveUserInfo">Guardar</div>
		  <div class="ui error message"></div>
		</form>
		<div class="" id="alert" role="alert"></div>
	</div>
	
		<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Cambiar contrasena</h4>
	      </div>
	      <div class="modal-body">

	      	<form class="ui form segment" id="changePassForm">
			  <p>Informacion del usuario</p>
			  <div class="two fields">
			  	<div class="field">
			      <label>Nueva contrasena</label>
			      <input placeholder="Contrasena" name="ncontrasena" id="ncontrasena" type="text">
			    </div>
			    <div class="field">
			      <label>Confirmar contrasena</label>
			      <input placeholder="Contrasena" name="ccontrasena" id="ccontrasena" type="text">
			   </div>
			  </div>
			  <div class="field">
			      <label>Contrasena actual</label>
			      <input placeholder="Introduzca su contrasena actual" name="acontrasena" id="acontrasena" type="text">
			  </div>
			
			  <button class="ui olive button" data-dismiss="modal">Cancelar</button>
			  <div class="ui submit button" id="changePassword">Cambiar</div>
			  <div class="ui error message"></div>
			</form>
			<div class="" id="alert_changePass" role="alert"></div>
	      </div>
	   
	    </div>
	  </div>
	</div>

</div>

{% endblock %}