
body{
	background-color: rgb(100,255,100);
	background: #F5F7F9 url('http://www.menu.com.do/img/bg.gif') top left repeat;
}

.title{ 
	font-size: 38px; 
	/*width: 70%;
	height: 100px;*/
	font-family: arial;
	color: #7FB496;
	padding-top: 30px;
	/*border-bottom: 3px solid rgb(235,235,235);*/
}

.form{
	background: #F5F7F9 url('http://www.menu.com.do/img/bg.gif') top left repeat;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #F2F2F2 inset;
}