.control-bar{
    /*background-color:rgb(100,255,0);*/
}

.divisor-h{
	background-color:rgb(240,240,240);
	width:100%;
	height:1px;
}

.loader{
    background-color: rgb(240,240,240);
}

.datatable{

    width: 80%;
    margin: auto;
    padding-top: 20px;
}

.datatable .title{
    font-size: 18px;
    font-family: arial;

}

.datatable .divisor-h{
    padding-bottom: 20px;
}

.datatable .line{
    height: 1px;
    margin: 20px;
    background-color: rgb(230,230,230);
}

/*Menu bar*/

.menu-bar{
	width:100%;
	height:60px;
}

.menu-bar ul li{
	/*height:60px;
	padding:15px;
	display:table-cell;
    vertical-align : middle;
	cursor:pointer;*/
}

.menu-bar ul li:hover{
	background-color:rgb(232,232,232);
}

/*Contacts*/


.contacts{
    width:80%;
    height:600px;
    background-color:rgb(232,232,232);
    margin:auto;
	vertical-align:auto;
	
}

/*.contacts #contancts-div, #contancts-div table{
    width:100%;
    height:100%;
}*/

#tr1{
    height:50px;
}

.search{
    float:right;
}

.contacts #contacts_table td, .contacts #contacts_table th{
    cursor:pointer;
    font-family: sans-serif;
    font-style: normal;
}

.contacts #contacts_table{
    height: 80%;
}

.contacts #cont-actions{
   
}

.contacts ul{
    background-color:rgb(225,225,225);
}

.contacts ul li{
    height:60px;
	padding:15px;
	display:table-cell;
	vertical-align : middle;
	cursor:pointer;
    margin:auto;
    border-style:solid;
    border-color:rgb(230,230,230); /*default colors*/
    border-width:1px;
    opacity:.9; 
}

#contacts-add .content{
	padding-left:20px;
	padding-top:20px;
}

#cont-category:hover ,#cont-new:hover, #cont-edit:hover, #cont-delete:hover{
    /*background-color:rgb(232,232,232);*/
}

#cont-freeze{
    width:100%;
}

.table-content{
    height:100%;
    width:100%;
}

#contacts-add{
    
    width:100%;
    height:100%;
   /* display:none;*/
 }
/*
#contacts-add .content table{
    padding-top:20px;
}

#contacts-add .content td{
    padding-bottom:10px;
}
*/
/**********************************/
/*Normal Screen*/
@media screen and (min-width: 790px) {
    .menu-bar ul li{
        height:60px;
		padding:15px;
		display:table-cell;
		vertical-align : middle;
		cursor:pointer;
    }
}

/*Mobile Screen*/
@media screen and (min-width: 790px) {
    .menu-bar ul li{
        height:60px;
		padding:15px;
		cursor:pointer;
    }
}





